body {
    background-color: #eceff4;
    font-family: sans-serif;
}

svg {
    width: 3rem;
    fill: #2e3440;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d8dee9;
    color: #2e3440;
    padding: 1vh 0;
}

header p {
    font-size: 1.5rem;
}

/* Header */

.grid {
    padding: 3vw;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 10px;
}

.board {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameGrid {
    background-color: white;
    border: 1px solid black;
    height: 10vw;
    width: 10vw;
    font-size: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.rightSide, .leftSide {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

/* Main Body */

.bottom {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

#startGame, #playAgain{
    padding: 1.2vw;
    cursor: pointer;
    font-size: 2vw;
    outline: none;
    color: #eceff4;
    font-weight: bold;
    display: none;
    visibility: hidden;
}

#startGame {
    background-color: #a3be8c;
    border: 1px solid #a3be8c;
    border-radius: 15%;
}

#playAgain {
    background-color: #bf616a;
    border: 1px solid #bf616a;
    border-radius: 15%;
}

/* Bottom */