body {
    background-color: #eceff4;
    font-family: sans-serif;
}

svg {
    width: 3rem;
    fill: #2e3440;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d8dee9;
    color: #2e3440;
    padding: 1vh 0;
}

header p {
    font-size: 1.5rem;
}

.grid {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 10px;
}

.board {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameGrid {
    background-color: white;
    border: 1px solid black;
    height: 10vw;
    width: 10vw;
}

.rightSide, .leftSide {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

